<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHub - Planificación de Eventos</title>
    <link rel="stylesheet" href="./styles.component.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mansion&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <header class="hero">
        <h1>EventHub</h1>
        <p>Tu plataforma para organizar eventos inolvidables</p>
        <button class="cta-button" onclick="window.location.href='http://localhost:4200/login'">Comienza Ahora</button>

    </header>


    <section class="about">
        <div class="text-content">
            <h2>Visión</h2>
            <p>Ser líderes globales en innovación tecnológica para eventos, transformando experiencias.</p>
        </div>
        <div class="text-content">
            <h2>Misión</h2>
            <p>Empoderar a las empresas con soluciones tecnológicas para un mundo en constante evolución.</p>
        </div>
    </section>


    <section class="values">
        <h2>Nuestros Valores</h2>
        <div class="values-list">
            <div class="value-item">Innovación</div>
            <div class="value-item">Calidad</div>
            <div class="value-item">Colaboración</div>
            <div class="value-item">Integridad</div>
            <div class="value-item">Compromiso</div>
            <div class="value-item">Aprendizaje</div>
        </div>
    </section>


    <section class="benefits">
        <h2>Beneficios de EventHub</h2>
        <div class="benefit">
            <h3>Personalización</h3>
            <p>Adapta cada evento según tus necesidades.</p>
        </div>
        <div class="benefit">
            <h3>Notificaciones</h3>
            <p>Actualizaciones en tiempo real para tus solicitudes.</p>
        </div>
        <div class="benefit">
            <h3>Colaboración</h3>
            <p>Gestiona la comunicación en una sola plataforma.</p>
        </div>
    </section>


    <section class="final-cta">
        <h2>¿Listo para llevar tus eventos al siguiente nivel?</h2>
        <button class="cta-button" onclick="window.location.href='http://localhost:4200/signup'">Regístrate Gratis</button>
    </section>
    <footer class="footer">
        <p>Desarrollado por <a onclick="window.location.href='http://localhost:4200/index'" class="footer-link">The Code Guild</a></p>
    </footer>
</body>
</html>
