<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo - EventHub</title>
    <link rel="stylesheet" href="../about/about.component.scss">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../../../../assets/members/logo.png" alt="Logo EventHub" class="logo">
        </div>
        <nav>
          <ul>
            <li><a onclick="window.location.href='http://localhost:4200/index'">Sobre Nosotros</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/about'">Equipo</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/productos'">Productos</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/contact'">Contacto</a></li>
          </ul>
        </nav>
    </header>

    <main>
      <section class="team">
          <h1>Conoce a Nuestro Equipo</h1>
          <div class="team-container">
              <div class="member-card">
                  <img src="../../../../assets/members/zac.jpg" alt="Zachary Hernández Valverde" class="profile-pic">
                  <h3>Zachary Hernández Valverde</h3>
                  <p>Coordinador General</p>
                  <p><strong>Fortalezas:</strong> Organización, Paciencia, Resiliencia.</p>
              </div>
              <div class="member-card">
                  <img src="../../../../assets/members/ale.jpg" alt="Alejandro Ortiz Trejos" class="profile-pic">
                  <h3>Alejandro Ortiz Trejos</h3>
                  <p>Calidad 1</p>
                  <p><strong>Fortalezas:</strong> Disciplina, Orden, Creatividad.</p>
              </div>
              <div class="member-card">
                  <img src="../../../../assets/members/joh.jpg" alt="Johnny Pérez Boza" class="profile-pic">
                  <h3>Johnny Pérez Boza</h3>
                  <p>Coordinador de soporte</p>
                  <p><strong>Fortalezas:</strong> Empatía, Puntualidad, Perseverancia.</p>
              </div>
          </div>
      </section>
  </main>

    <footer>
        <p>&copy; 2024 EventHub | <a onclick="window.location.href='http://localhost:4200/index'">The Code Guild</a></p>
    </footer>
</body>
</html>
