<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos - EventHub</title>
    <link rel="stylesheet" href="./productos.component.scss">
</head>
<body>
    <header>
      <div class="logo-container">
        <a href="http://localhost:4200/index">
            <img src="../../../../assets/members/logo.png" alt="Logo EventHub" class="logo">
        </a>
    </div>

        <nav>
          <ul>
            <li><a onclick="window.location.href='http://localhost:4200/index'">Sobre Nosotros</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/about'">Equipo</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/productos'">Productos</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/contact'">Contacto</a></li>
          </ul>
        </nav>
    </header>

    <main>
      <section class="projects">
          <h1>Proyectos Realizados</h1>
          <div class="projects-container">
              <div class="project-card">
                  <h5>Plataforma de Gestión de Eventos</h5>
                  <p>Event Hub es una plataforma innovadora diseñada para gestionar y coordinar eventos de manera eficiente,
                    conectando a organizadores y proveedores para crear experiencias inolvidables con facilidad y control.</p>
                  <a onclick="window.location.href='http://localhost:4200'" class="project-button">Ver Proyecto</a>
              </div>
          </div>
      </section>
  </main>

    <footer>
        <p>&copy; 2024 EventHub | <a onclick="window.location.href='http://localhost:4200/index'">The Code Guild</a></p>
    </footer>
</body>
</html>
