<form [formGroup]="dateTimeForm">
  <div class="mb-2 d-flex flex-row align-items-center">
    <div class="">
      <mat-form-field class="example-full-width" class="pe-3">
        <mat-label>Fecha de inicio del evento</mat-label>
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" class="d-flex" for="dateInput" (click)="picker.open()" formControlName="dateInput" >
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>MM/dd/yyyy</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="mb-2">
      <label class="mb-1" for="startTime" >Inicio del evento*</label>
      <input id="startTime" formControlName="startTime" type="time" class="form-control" value="12:00" />
      <div *ngIf="dateTimeForm.controls['startTime'].invalid && (dateTimeForm.controls['startTime'].dirty || dateTimeForm.controls['startTime'].touched)">
        <p class="text-danger my-1">La fecha de comienzo es requerida</p>
      </div>
  </div>
  <div class="mb-2">
    <label class="mb-1" for="endTime">Finalización del evento*</label>
    <input id="startTime" formControlName="endTime" type="time" class="form-control" >
    <div *ngIf="dateTimeForm.controls['endTime'].invalid && (dateTimeForm.controls['endTime'].dirty || dateTimeForm.controls['endTime'].touched)">
      <p class="text-danger my-1">La fecha de finalización es requerida</p>
    </div>
  </div>
</form>
