<form [formGroup]="dateTimeForm">
  <div class="mb-2 d-flex flex-row align-items-center">
    <div class="">
      <mat-form-field class="example-full-width" class="pe-3">
        <mat-label>Fecha de inicio del evento</mat-label>
        <input matInput [matDatepicker]="picker" class="d-flex" for="dateInput" (click)="picker.open()" formControlName="dateInput" (dateInput)="emitIsValidInput()" >
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>MM/dd/yyyy</mat-hint>
      </mat-form-field>  
    </div>
  </div>
  <div class="mb-2">
      <label class="mb-1" for="startTime" >Inicio del evento*</label>
      <input id="startTime" formControlName="startTime" type="time" class="form-control" value="12:00" />
  </div>
  <div class="mb-2">
    <label class="mb-1" for="endTime">Finalización del evento*</label>
    <input id="startTime" formControlName="endTime" type="time" class="form-control" >
  </div>
</form>
