<df-messenger
    intent="WELCOME"
    chat-title="EventHubAgent"
    agent-id="859e1af7-a2d1-45fe-865d-92e6510622ad"
    language-code="es"
  ></df-messenger>

  <style>
    df-messenger {
      --df-messenger-bot-message: #878fac;
      --df-messenger-info-card: #6200ee;
      --df-messenger-button-titlebar-color: #df9b56;
      --df-messenger-chat-background-color: #fafafa;
      --df-messenger-font-color: white;
      --df-messenger-send-icon: #878fac;
      --df-messenger-user-message: #479b3d;
    }

    df-messenger .info-card {
      background-color: #6e4343; /* Color de fondo */
      border: 1px solid #0f0d0d; /* Borde */
      border-radius: 8px; /* Bordes redondeados */
      padding: 16px; /* Espaciado interno */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    }

    df-messenger .info-card .info-title {
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    df-messenger .info-card .info-subtitle {
      font-size: 14px;
      color: #49fc85;
    }

    df-messenger .info-card .info-image {
      width: 100px;
      height: auto;
      margin-bottom: 8px;
    }

    df-messenger .info-card .info-action-link {
      color: #007bff;
      text-decoration: none;
    }
  </style>
