<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - EventHub</title>
    <link rel="stylesheet" href="./contact.component.scss">
</head>
<body>
    <header>
      <div class="logo-container">
        <a href="http://localhost:4200/index">
            <img src="../../../../assets/members/logo.png" alt="Logo EventHub" class="logo">
        </a>
    </div>

        <nav>
          <ul>
            <li><a onclick="window.location.href='http://localhost:4200/index'">Sobre Nosotros</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/about'">Equipo</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/productos'">Productos</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/contact'">Contacto</a></li>
          </ul>
        </nav>
    </header>

    <main>
        <section class="contact-container">
            <div class="contact-form">
                <h1>¡Ponte en Contacto!</h1>
                <p>Nos encantaría saber de ti. Envía tus dudas o sugerencias y estaremos encantados de responderte.</p>

                <form id="contact-form"
                        action="https://formspree.io/f/mkgnbbyd"
                        method="POST">
                    <input type="text" id="name" name="name" placeholder="Tu nombre" required>
                    <input type="email" id="email" name="email" placeholder="Tu correo electrónico" required>
                    <textarea id="message" name="message" placeholder="Escribe tu mensaje..." required></textarea>
                    <button type="submit">Enviar Mensaje</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
      <p>&copy; 2024 EventHub | <a onclick="window.location.href='http://localhost:4200/index'">The Code Guild</a></p>
  </footer>

</body>
</html>
