<form [formGroup]="taskForm" class="row">
  <div>
    <h2 class="mb-0">Add Task</h2>
  </div>
  <div class="mb-2">
    <label class="mb-1" for="name">Task Name*</label>
    <input id="taskName" formControlName="taskName" type="text" class="form-control">
    @if (taskForm.controls['taskName'].invalid && (taskForm.controls['taskName'].dirty || taskForm.controls['taskName'].touched)) {
      <p class="text-danger my-1">Task Name is required</p>
    }
  </div>
  <div class="mb-2">
    <label class="mb-1" for="description">Description*</label>
    <input id="description" formControlName="description" type="text" class="form-control">
    @if (taskForm.controls['description'].invalid && (taskForm.controls['description'].dirty || taskForm.controls['description'].touched)) {
      <p class="text-danger my-1">Description is required</p>
    }
  </div>
  <div class="mb-2">
    <label class="mb-1" for="dueDate">Due Date*</label>
    <input id="dueDate"  min="1" formControlName="dueDate" type="date" class="form-control">
    @if (taskForm.controls['dueDate'].invalid && (taskForm.controls['dueDate'].dirty || taskForm.controls['dueDate'].touched)) {
      <p class="text-danger my-1">Due Date is required</p>
    }
  </div>
  <div class="mb-2">
    <label class="mb-1" for="priority">Priority*</label>
    <select id="priority" formControlName="priority" class="form-select">
      @for (priority of priorities; track priority.id) {
        <option [value]="priority.name">{{ priority.name}}</option>
      }
    </select>
    @if (taskForm.controls['priority'].invalid && (taskForm.controls['priority'].dirty || taskForm.controls['priority'].touched)) {
      <p class="text-danger my-1">Priority is required</p>
    }
  </div>
  <div class="mb-2">
    <label class="mb-1" for="event">Event*</label>
    <select id="event" formControlName="event" class="form-select">
      @for (event of events(); track event.eventId) {
        <option [value]="event.eventId">{{event.eventName}}</option>
      }
    </select>
    @if (taskForm.controls['event'].invalid && (taskForm.controls['event'].dirty || taskForm.controls['event'].touched)) {
      <p class="text-danger my-1">Event is required</p>
    }
  </div>
  <div class="d-flex justify-content-end">
    <button (click)="callSave()" [disabled]="taskForm.invalid" class="btn btn-primary" type="button">Save</button>
  </div>
</form>
