<form [formGroup]="taskForm" class="row">
  <div>
    <h2 class="mb-0">Add Task</h2>
  </div>
  
  <div class="mb-2">
    <label class="mb-1" for="name">Selecciona desde una plantilla predeterminada*</label>
    <input type="text" class="form-control mb-2" id="search"
    [(ngModel)]="searchTerm"
    (input)="filterTemplates()" placeholder="Buscar plantilla presiona enter para mostrar los resultados" [ngModelOptions]="{standalone: true}" (keyup.enter)="openSelect()"/>
    <select id="templates" class="form-select" (change)="fillWithTemplate($event)" >
      <option value="-1" >Selecciona una plantilla predeterminada</option>
      @for (template of filteredTaskTemplates; track template.taskTemplateId) {
        <option [value]="template.taskTemplateId" >{{ template.taskTemplateName}}</option>
      }
    </select>
  </div>
  <div class="mb-2">
    <label class="mb-1" for="name">Nombre de Tarea*</label>
    <input id="taskName" formControlName="taskName" type="text" class="form-control">
    @if (taskForm.controls['taskName'].invalid && (taskForm.controls['taskName'].dirty || taskForm.controls['taskName'].touched)) {
      <p class="text-danger my-1">El nombre de la tarea es requerido</p>
    }
  </div>
  <div class="mb-2">
    <label class="mb-1" for="description">Descripción*</label>
    <textarea id="description" formControlName="description" type="text" class="form-control"></textarea>
    @if (taskForm.controls['description'].invalid && (taskForm.controls['description'].dirty || taskForm.controls['description'].touched)) {
      <p class="text-danger my-1">La descripción es requerida</p>
    }
    <div class="mb-4 mt-2">
      <button class="btn btn-secondary" (click)="callSave(true)" [disabled]="taskForm.controls['event'].invalid">Generar tareas en base a descripción</button>
    </div>
  </div>
  <div class="mb-2">
    <label class="mb-1" for="dueDate">Fecha de Vencimiento*</label>
    <input id="dueDate"  min="1" formControlName="dueDate" type="date" class="form-control">
    @if (taskForm.controls['dueDate'].invalid && (taskForm.controls['dueDate'].dirty || taskForm.controls['dueDate'].touched)) {
      <p class="text-danger my-1">Due Date is required</p>
    }
  </div>
  <div class="mb-2">
    <label class="mb-1" for="priority">Prioridad*</label>
    <select id="priority" formControlName="priority" class="form-select">
      @for (priority of priorities; track priority.id) {
        <option [value]="priority.name">{{ priority.name}}</option>
      }
    </select>
    @if (taskForm.controls['priority'].invalid && (taskForm.controls['priority'].dirty || taskForm.controls['priority'].touched)) {
      <p class="text-danger my-1">Priority is required</p>
    }
  </div>
  <div class="mb-2">
    <label class="mb-1" for="status">Progreso*</label>
    <select id="status" formControlName="status" class="form-select">
      @for (status of status; track status.id) {
        <option [value]="status.name">{{ status.name}}</option>
      }
    </select>
    @if (taskForm.controls['priority'].invalid && (taskForm.controls['priority'].dirty || taskForm.controls['priority'].touched)) {
      <p class="text-danger my-1">Priority is required</p>
    }
  </div>
  <div class="mb-2">
    <label class="mb-1" for="event">Evento*</label>
    <select id="event" formControlName="event" class="form-select">
      @for (event of events(); track event.eventId) {
        <option [value]="event.eventId" selected="event.eventId == selectedEventId">{{event.eventName}}</option>
      }
    </select>
    @if (taskForm.controls['event'].invalid && (taskForm.controls['event'].dirty || taskForm.controls['event'].touched)) {
      <p class="text-danger my-1">Event is required</p>
    }
  </div>
  <div class="d-flex justify-content-end">
    <button (click)="callSave(false)" [disabled]="taskForm.invalid" class="btn btn-primary" type="button">Guardar</button>
  </div>
</form>
