<div class="media profile-media d-flex align-items-center p-2 ">
  <i class="fa-regular fa-user fa-lg" style="color: #80A2A6;"></i>
  <div class="media-body ml-2">
    <span class="font-weight-bold">{{userName}} <i class="fa-solid fa-chevron-down text-secondary"></i></span>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div list-group mt-2 shadow-sm rounded overflow-hidden p-0">
  <li class="list-group-item list-group-item-action d-flex align-items-center" (click)="logout()">
    <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 10px; color: #F2622E;"></i>
    <span>Cerrar sesión</span>
  </li>
</ul>
