@defer {
  <div class="row p-4">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Tareas</h3>
        @if(authService.isSuperAdmin()){
          <button mat-icon-button color="primary" (click)="callModalAction()">
            <mat-icon>add</mat-icon></button>
        }
      </div>
    </div>
    <div class="col-12">
      <app-task-list
        (callModalAction)="callEdition($event)"
        (callDeleteAction)="taskService.delete($event)"
        [tasks]="taskService.task$()"
      />
      @if(taskService.task$().length) {

        <app-pagination
          [service]="taskService"
          [customCall]="true"
          (callCustomPaginationMethod)="taskService.getAllByEventId(this.eventService.getEventId() ?? 0)"

        />
      }
    </div>
  </div>
} @loading (minimum 1.5s){
  <app-loader></app-loader>
}

<ng-template #addTaskModal>
  <app-modal
    [hideFooter]="true"
  >
    <div>
      <app-task-form
        [taskForm]="taskForm"
        (callSaveMethod)="saveTask($event)"
        (callUpdateMethod)="updateTask($event)"
      />
    </div>
  </app-modal>
</ng-template>
