<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit" />
<div class="card-container">
    <mat-card *ngFor="let event of events" class="card">
      
      <div *ngIf="!editEvent" class="toolbar-top-right">
        <mat-card-header >
            <div mat-card-avatar class="card-avatar"></div>
                <div *ngIf="!editEvent" class="right-toolbar">
                    <mat-card-title>{{ event.eventName }}</mat-card-title> <!-- Assuming 'title' is a property -->
                    <mat-card-subtitle>{{ event.eventType.eventTypeName }}</mat-card-subtitle> <!-- Format date as needed -->
            </div>
          </mat-card-header>
          <div class="right-toolbar">
            <span class="material-symbols-outlined right-toolbar clickable" (click)="editMode(event)">edit</span>
          </div>
      </div>
      <div *ngIf="editEvent" class="toolbar-top-right">
        <app-card-events-form [eventTypes]="eventTypeService.eventTypes$()" [eventForm]="eventForm"></app-card-events-form>
      </div>

      <mat-card-content>
        <p>{{ event.eventType.eventTypeName }}</p> <!-- Assuming 'description' is a property -->
      </mat-card-content>
  
      <mat-card-actions>
        <mat-card-actions>
        <button mat-button color="primary" (click)="showEventDetails(event)">Más</button>
        </mat-card-actions>
        <button mat-button color="accent">Edit Event</button>
      </mat-card-actions>
      <!-- Show event details if selected -->
    <app-eventcarddetails *ngIf="selectedEvent" [event]="event" (close)="closeEventDetails()"></app-eventcarddetails>
    </mat-card>
  </div>