.toolbar-top-right {
    display: flex;                // Enable flexbox
    justify-content: space-between; // Space out children
    flex-direction: row;
  
    .left-toolbar {
      align-self: flex-end;
    }
  
    .right-toolbar {
      // Always positioned at the top right
      align-self: flex-start;    // Align to the top
      align-items: center;
      padding: 0.3rem 0.3rem;           // Add padding
    }
  }

  .clickable {
    cursor: pointer;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon-layout {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  align-self: flex-end;
}

.event-input {
    font-size: 20px; // Match the font size of mat-card-title
    font-weight: 500; // Semi-bold text
    color: #F2622E; // Default text color for mat-card-title
    padding: 8px; // Inner spacing
    border: 1px solid #ccc; // Border styling
    border-radius: 4px; // Rounded corners
    margin-right: 8px; // Spacing between inputs
    width: 100%; // Make inputs take full width
    box-shadow: none; // Remove any shadow
  }
  
  .event-input::placeholder {
    color: rgba(0, 0, 0, 0.38); // Placeholder color
    opacity: 1; // Make sure placeholder is visible
  }

  
  .ten h1 {
    font-size:34px; font-weight:500; text-transform:uppercase;
  }