<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre de Tarea</th>
      <th scope="col">Descripción</th>
      <th scope="col">Progreso</th>
      <th scope="col">Fecha de Vencimiento</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Evento</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of tasks; track $index) {
      <tr [ngClass]="{'expirado': item.dueDate && item.dueDate < todayDate}">
        <th scope="row">{{item.id}}</th>
        <td>{{item.taskName}}</td>
        <td>{{item.description}}</td>
        <td>
          <span [ngClass]="{
            'completado': item.status === 'Completado',
            'en-progreso': item.status === 'En Progreso',
            'pendiente': item.status === 'Pendiente'
          }" class="badge" [attr.title]="item.status">
            <i class="fas" [ngClass]="{
              'fa-check-circle': item.status === 'Completado',
              'fa-spinner': item.status === 'En Progreso',
              'fa-times-circle': item.status === 'Pendiente'
            }"></i> {{item.status}}
          </span>
        </td>
        <td>{{item.dueDate  | date:'dd/MM/yyy'}}</td>
        <td>
          <span [ngClass]="{
            'alta': item.priority === 'Alta',
            'media': item.priority === 'Media',
            'baja': item.priority === 'Baja'
          }" class="badge" [attr.title]="item.priority">
            <i class="fas" [ngClass]="{
              'fa-exclamation-circle': item.priority === 'Alta',
              'fa-exclamation-triangle': item.priority === 'Media',
              'fa-arrow-down': item.priority === 'Baja'
            }"></i> {{item.priority}}
          </span>
        </td>
        <td>{{item.event?.eventName}}</td>
        <td>
          <button (click)="callModalAction.emit(item);" class="btn btn-warning btn-sm me-2" type="button" title="Editar">
            <i class="fas fa-pen"></i>
          </button>
          <button (click)="callDeleteAction.emit(item)" class="btn btn-danger btn-sm" type="button" title="Eliminar">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="8">
          <div class="d-flex justify-content-center align-items-center w-100">
            <p class="mb-0">No hay tareas para este evento</p>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
