
<h2>{{title}}</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Event</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of tasks; track $index) {
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.taskName}}</td>
        <td>{{item.description}}</td>
        <td>{{item.dueDate ? formatDate(item.dueDate) : ''}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.event?.eventName}}</td>
        <td>
          <button (click)="callModalAction.emit(item);" class="btn btn-warning me-2" type="button"><i class="fas fa-pen"></i></button>
          <button (click)="callDeleteAction.emit(item)" class="btn btn-danger" type="button"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="4">
          <div class="d-flex justify-content-center align-items-center w-100">
            <p class="mb-0">There are no tasks for this event</p>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>




