<div class="chat_toggle_button">
  <button mat-raised-button (click)="toggleChat()" [ngStyle]="{'background-color': '#80A2A6', 'color': '#FFFFFF'}">
    {{ isChatHidden ? 'Mostrar Chat' : 'Esconder Chat' }}
  </button>
</div>

<div class="chat_window " [ngClass]="{'hidden': isChatHidden}">
  <div class="top_menu">

    <div class="title">
      EventHub Chat
    </div>
  </div>
  <ul class="messages" #messageContainer>
    <li class="message right" *ngFor="let message of messageList"
      [ngClass]="{'left':message.message_side === 'receiver', 'right':message.message_side === 'sender'}"
    >
      <div  [ngClass]="{'left':message.message_side === 'receiver', 'right':message.message_side === 'sender'}"></div>
      <div class="text_wrapper">
          <div class="user_name"[style.color]="getUserColor(message.user.name + ' ' + message.user.lastname)">
            {{message.user.name + ' ' + message.user.lastname}}</div>
        <div class="text"> {{message.message}}</div>
        <div class="timestamp">{{formatTimestamp(message.timestamp)}}</div>
      </div>
    </li>
  </ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" placeholder="Mensaje..."  [(ngModel)]="messageInput" (keyup.enter)="sendMessage()"/>
    </div>
    <div class="send_message" (click)="sendMessage()">
      <div class="icon"></div>
      <div class="text">Enviar</div>
    </div>
  </div>
</div>



