
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  body {
    background-color: #edeff2;
    font-family: "Montserrat", sans-serif;
  }

  .chat_window {
    position: relative;
    width: calc(100% - 20px);
    max-width: 600px;
    height: 510px;
    border-radius: 20px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
    transition: height 0.3s ease;

  }

  .top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  }

  .top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
  }

  .top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }

  .top_menu .buttons .button.close {
    background-color: #f5886e;
  }

  .top_menu .buttons .button.minimize {
    background-color: #fdbf68;
    cursor: pointer;
  }

  .top_menu .buttons .button.maximize {
    background-color: #a3d063;
    cursor: pointer;
  }

  .top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
  }

  .messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 330px;
    overflow: scroll;
  }

  .messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 1;
  }

  .messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
  }

  .messages .message.left .text_wrapper {
    background-color: #FFFFFF; // Color de fondo para mensajes recibidos
  }

  .messages .message.left .text_wrapper::after,
  .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #FFFFFF; // Color de borde para mensajes recibidos
  }

  .messages .message.left .text {
    color: #000000; // Color del texto para mensajes recibidos
  }

  .messages .message.right .avatar {
    background-color: #008069;
    float: right;
  }

  .messages .message.right .text_wrapper {
    background-color: #E1FFC7; // Color de fondo para mensajes enviados
    margin-right: 20px;
    float: right;
  }

  .messages .message.right .text_wrapper::after,
  .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #E1FFC7; // Color de borde para mensajes enviados
  }

  .messages .message.right .text {
    color: #000000; // Color del texto para mensajes enviados
  }

  .messages .message.appeared {
    opacity: 1;
  }

  .messages .message .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
  }

  .messages .message .text_wrapper {
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    width: auto;
    min-width: 100px;
    max-width: 60%;
    position: relative;
    word-wrap: break-word; /* Permite el ajuste de texto */
    white-space: pre-wrap; /* Permite el ajuste de texto y respeta los saltos de línea */
  }

  .messages .message .text_wrapper::after,
  .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
  }

  .messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
  }

  .messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
    word-wrap: break-word; /* Permite el ajuste de texto */
    white-space: pre-wrap; /* Permite el ajuste de texto y respeta los saltos de línea */
  }

  .messages .message .text_wrapper .user_name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
  }

  .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
  }

  .bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
  }

  .bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
  }

  .bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
  }

  .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }

  .message_template {
    display: none;
  }


  .hidden {
    display: none;
  }

  .chat_toggle_button {
    position: relative;
    bottom: 10px;
    right: 10px;
    z-index: 1000; // Asegúrate de que el botón esté siempre visible

    button {
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 25px; // Bordes redondeados
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra para darle profundidad
      transition: background-color 0.3s, transform 0.3s; // Transiciones suaves
      background-color: #007bff; // Color de fondo inicial
      color: #fff; // Color del texto
      font-family: 'Montserrat', sans-serif;


      &:hover {
        background-color: #0056b3; // Color de fondo al pasar el mouse
        transform: translateY(-2px); // Efecto de elevación al pasar el mouse
        color: #fff; // Asegúrate de que el texto sea visible
      }

      &:active {
        background-color: #004494; // Color de fondo al hacer clic
        transform: translateY(0); // Efecto de presionado
        color: #fff; // Asegúrate de que el texto sea visible
      }
    }
  }

  .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }

  .message_template {
    display: none;
  }


  .timestamp {
    font-size: 0.75em; /* Hace que el texto sea más pequeño */
    color: gray; /* Color gris para la hora */
    text-align: right; /* Alinea el texto a la derecha */
    display: block; /* Asegura que el texto ocupe toda la línea */
    margin-top: 5px; /* Añade un pequeño margen superior */
  }

  .chat_toggle_button{
    color: yellow;
  }
