<form [formGroup]="taskForm" class="row">
  <div>
    <h4 class="mb-4">Describe tu evento</h4>

    <p class="mb-4">
      <mat-icon matTooltip="El formulario se llena solo una vez">info</mat-icon>
      Se recomienda seleccionar un máximo de 4 opciones por pregunta
    </p>
  </div>
  <div *ngFor="let question of eventFormQuestion" class="mb-2">
    <label class="m-4" [for]="question.id">{{ question.question }}</label>
    <mat-form-field>
      <mat-label>{{ question.question }}</mat-label>
      <div *ngIf="!isOneSelectionOnly(question.nnControlName)">
        <mat-select formControlName="{{question.nnControlName}}" [multiple]="true">
          <mat-option *ngFor="let option of getOptionsForQuestion(question.id)" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </div>
      <div *ngIf="isOneSelectionOnly(question.nnControlName)">
        <mat-select formControlName="{{question.nnControlName}}">
          <mat-option *ngFor="let option of getOptionsForQuestion(question.id)" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </div>
    </mat-form-field>
  </div>
</form>
