*{
  font-family: 'Montserrat', sans-serif;
}

h4{
  font-family: 'Montserrat', sans-serif;

}

p {
  display: flex;
  align-items: center;
}

mat-icon{
  margin-right: 8px; /* Ajusta el margen según sea necesario */

}

.matTooltip{
  font-family: 'Montserrat', sans-serif;
}
