<!-- Filters for Event Type -->
<div class="filters">
    <mat-form-field>
      <mat-label>Filtro de vista</mat-label>
      <mat-select [(value)]="selectedEventType" (selectionChange)="applyFilters()">
        <mat-option value="">Mostrar Todos</mat-option>
        <mat-option value="event">Eventos</mat-option>
        <mat-option value="task">Tareas</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Estado de tarea</mat-label>
    <mat-select [(value)]="selectedTaskType" (selectionChange)="applyFilters()">
      <mat-option value="Todos los estados">Todos los estados</mat-option>
      <mat-option value="Pendiente">Pendiente</mat-option>
      <mat-option value="En progreso">En progreso</mat-option>
      <mat-option value="Completado">Completado</mat-option>
    </mat-select>
  </mat-form-field>

<full-calendar [options]="calendarOptions"></full-calendar>
