<style >
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main-three {
        align-self: center;
    }
</style>
<div class="container">
    <canvas class="main-three" #mainThreeCv (click)="selectAsset($event)" (mousedown)="mouseDown($event)"></canvas>
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading" style="position: absolute; right: 0px; top: 0px">
        <app-ui3d
        (AdditionAction)="addComponent($event)"
        (MoveAction)="handleDirectionComponent($event)"
        (RotationAction)="handleDirectionComponent($event)"
        (DeleteAction)="deleteSelectedComponent()"
        [images]="images"
        [arrowToAxis]="arrowsToProjection$()"
        [arrowToRotation]="arrowsToRotation$()"
        [modelMetadata]="modelMetadata"
        ></app-ui3d>
    </div>
</div>
