<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img
              width="40"
              class="img-fluid mb-4"
              src="../../../../assets/icons/logo@2x.png"
              alt="Logo"
            />
          </a>
        </div>
        <div class="login-main">
          <form (ngSubmit)="handleChangePassword()" autocomplete="off" #frm="ngForm">
            <div class="mb-3">
              <h4>Change your password</h4>
              <small style="color: #4f4f4f">
                Enter your new password
              </small>
            </div>

            <div class="form-group mb-5">
              <label for="password" class="form-label mb-2">Password</label>
              <div class="form-input position-relative">
                <input #password="ngModel" type="password" class="form-control" id="password" name="password"
                placeholder="*****" [(ngModel)]="user.password" [ngClass]="{
                  'is-invalid': password.invalid && password.touched,
                  'is-valid': password.valid && password.touched
                }" required />
                <div *ngIf="password.invalid" class="invalid-feedback">
                  Please add a valid password
                </div>
              </div>
            </div>

            <div class="form-group mb-0">
              <button class="btn btn-primary btn-block w-100" type="submit">
                Restore Password
              </button>
              @if(signUpError) {
                <p class="text-danger">{{signUpError}}</p>
              } @else if (validSignup){
                <p class="text-success">User registered, please go to login</p>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
